:root {
  --primary: #fff;
  /* f4a261 */
  --secondary: #ffd166;
  --tertiary: #f4a261;
  --tertiaryHover: #f4a361a0;
}
html,
body {
  background: #000;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
* {
  font-family: "Roboto", sans-serif;
  color: var(--primary);
  font-weight: 300;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.main {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 120px calc(100vh - 120px) repeat(3, 1fr);
}
